.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.idea/gradle.xml
.idea/libraries/cardview_v7_23_0_1.xml
.idea/libraries/recyclerview_v7_23_0_1.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/app.iml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/modules.xml
